.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.latest-image{
  width: 300px
}
.signupContainer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: left;        /* center items horizontally, in this case */
    height:fit-content;
    border: 1px solid black;
}
.signup-form{
  margin-top: 5%;
  margin-bottom: 5%s;
}
.profile-thumbnail{
  height: 100px;
}
.navbar-image-container{
  display: flex;
}
.map-image{
  max-width: 100px;
  max-height: 100px;
}
.bid-image{

  height: 100px;
    display: inline;

}
.bid-container{
  display: inline-flex;
}
.bid-outline{
  border-style: solid;
  border-width: 2px;
  border-color: grey  ;
}
.project-image-container{
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}
.project-image-container img{
  display: inline-table;
  height: auto
}
.map-box{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 100%;
}

.fade-in {
  transition: opacity 2s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 2s ease;
}

#logged-out-home-gif{
  position: relative;
  background: url('./images/giphy.gif') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: 100%;
  height: 1000px;
  top: 0%;
}

#logged-out-home-static{
  background: url('./images/arcpic.jpg') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: 100%;
  height: 1000px;
  top: 0%;
}
#logged-out-content{
  background-color: white;
  position: relative;
  height: 80%;
  width: 80%;
  left: 8%;
  top: 4%;
  border-style: solid;
  border-color: grey;
  border-width: 10px;
}
#tdSide #results_scroll {
  height: 100%;
  width: auto;
  min-width: 300px;
  overflow-y: auto;
}
td.column {
  overflow-y: visible;
  width: 100%!important;
  display: block;
}
#tdSide .column {
  padding: 0;
}
.listmore4.listmoreshow li:nth-child(n + 4) {
  display: flex;
}
.grid-row {
  /* Flex implementation */
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  /* Inline-block fallback */
  letter-spacing: -0.31em;
  /* Collapse white-space */
  *letter-spacing: normal;
  /* IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8 */
  text-rendering: optimizespeed;
  /* Webkit fix: source http://purecss.io/grids/  */
  /* Unset list styles */
  list-style: none;
  padding: 0;
  margin: 0;
}
.grid-cell {
  /* Flex implementation */
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  /* Inline-block fallback */
  display: inline-block;
  vertical-align: top;
  *display: inline;
  /* IE < 8: fake inline-block */
  zoom: 1;
  /* Reset white-space properties */
  letter-spacing: normal;
  *word-spacing: normal;
  /* IE < 8 */
  text-rendering: auto;
  /* Make the card full height */
  display: -ms-flex;
  display: flex;
  /* Allow to add gutter via padding without extending the box */
  box-sizing: border-box;
  padding: 0;
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: auto;
  /* Trigger item wrapping with flexbox & inline-block */
  min-width: 200px;
}
.grid-cell.grid-cell--ghost {
  /* Could be use to create ghost cells
     And prevent your last item to expand
     And cover entirely the last row
  */
  visibility: hidden;
  height: 0;
  padding: 0;
}
.grid-card {
  /* Flex implementation */
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  /* Centered card */
  display: block;
  margin: 0 auto;
}

/* Atomic column modifiers */
.grid-row--col-auto > .grid-cell {
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: auto;
}

.grid-row--col-1 > .grid-cell {
  /* Max 1 columns */
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: 100%;
}

.grid-row--col-2 > .grid-cell {
  /* Max 2 columns */
  /* Flex & inline-block implementation */
  /* [fix] IE `flex-basis` doesn't account for `box-sizing: border-box` */
  width: 50%;
}
.listmore4 li:nth-child(n + 5) {
  display: none;
}
#page_map_container, #tdSide {
  vertical-align: top;
}
#page_map_container .map {
  width: 100%;
}